*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
}
h2 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
}

h3 {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 600;
}

.header {
  padding: 2.5rem 1rem;
  text-align: center;
  background-color: lightblue;
  color: white;
}
.sub-title::after {
  margin-left: 4px;
  content: "🎯";
}
.main {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}
.main > * + * {
  margin-top: 2.5rem;
}

.main > * {
  border-top: 4px solid lightblue;
  border-radius: 5%;
}

.main > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.nav-link {
  padding: 4px 8px;
  color: white;
  text-decoration: none;
  margin-left: 16px;
}
.nav-link:hover {
  color: black;
  background-color: lightgrey;
}
.nav-link:active {
  color: white;
  background-color: grey;
}
