*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  --text-color: white;
  --linear-color: linear-gradient(lightblue, aqua);
  --bg-color: lightblue;
}
body {
  margin: 0;
}
h1,
h2,
h3 {
  font-size: 1rem;
}
h1 {
  font-family: "Poppins";
  font-style: italic;
}
h2 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
}

h3 {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 600;
}

.header {
  padding: 2rem 1rem;
  padding-top: 4rem;
  text-align: center;
  background-image: var(--linear-color);
  color: var(--text-color);
  position: relative;
}
.heading-group {
  font-size: 2rem;
}
.main-heading {
  font-size: 1em;
}
.profession {
  font-size: 0.5em;
}
.profession::after {
  margin-left: 4px;
  content: "🎯";
}
.main {
  padding: 0.5rem;
  max-width: 60ch;
  margin: 0 auto;
}
.main > * + * {
  margin-top: 2.5rem;
}

.main > * {
  border-top: 0.25rem solid var(--bg-color);
  border-radius: 5%;
  padding: 0 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav-link {
  padding: 0.25rem 0.25rem;
  color: var(--text-color);
  text-decoration: none;
  margin-left: 1rem;
  transition: background-color 1s;
  transition-timing-function: ease-in-out;
}
.nav-link:focus {
  color: olive;
  background-color: salmon;
}
.nav-link:hover {
  color: var(--text-color);
  background-color: var(--bg-color);
}
.nav-link:active {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.experience-heading {
  display: flex;
  justify-content: flex-start;
}
.experience-subheading {
  display: flex;
  justify-content: flex-start;
}

.article-heading {
  position: relative;
  left: -1rem;
}
.skills-heading {
  display: flex;
  justify-content: flex-start;
}
.hire-me {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--text-color);
  box-shadow: 3px 3px aqua;
  background-color: var(--bg-color);
  color: rgba(75, 69, 69, 0.5);
  transform-origin: right;
  transition: transform 0.5s;
}
.header:hover .hire-me {
  transform: scale(2) translate(-20vw);
}
.footer {
  background-image: var(--linear-color);
  height: 20vh;
  padding-top: 1rem;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
}
.mail-link {
  text-decoration: none;
  transition: font-weight 0.5s;
  transition-timing-function: linear;
  color: var(--text-color);
}
.mail-link:hover {
  font-weight: bold;
  font-size: 1rem;
  color: salmon;
}
@media screen and (min-width: 640px) {
  html {
    font-size: 1.2rem;
  }
  .main > * + * {
    margin-top: 3.5rem;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .heading-section {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 860px) {
  html {
    font-size: 1.4rem;
  }
  .hire-me {
    position: fixed;
    background-color: var(--bg-color);
  }
  .heading-section {
    display: grid;
  }
  .article-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
@media print {
  .hire-me {
    display: none;
  }
  .nav {
    display: none;
  }
}
